<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBmaster" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="sakila" connectionString="server=localhost;user id=root;persistsecurityinfo=False;database=sakila" providerName="" />
    <!--dddfsdf-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>